:root {
    --primary-color: #df2736;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 0;
}

/* Css Reset */
a {
    text-decoration: none;
    color: #000;
}

::-moz-selection {
    background: #b4d0f8;
}

::selection {
    background: #b4d0f8;
}

.dropdown-toggle::after {
    display: none;
}

.navbar {
    position: fixed !important;
}

.navbar .navbar-nav .nav-item .active {
    color: var(--primary-color);
    position: relative;
}

.navbar .navbar-nav .nav-item .active::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--primary-color);
    transition: 0.2s ease-out;
    opacity: 1;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(21, 22, 27);
    position: relative;
    padding: 0;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 60%);
    width: 8px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--primary-color);
    opacity: 0;
    transition: 0.2s ease-out;
}

.nav-link:hover::after {
    width: 13px !important;
    transform: translate(-50%, 0);
    opacity: 1;
}

.typewriter {
    width: 0;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #1b2d4600;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end) forwards,
        blink-caret .75s step-end infinite;
    transition: border 200ms ease-in;
}

/* The typing effect */
@keyframes typing {
    0% {
        width: 0
    }

    100% {
        width: 85%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #1b2d46;
    }
}

.animate-show {
    animation: animate-show 1s ease-in 1 forwards;
    opacity: 0;
}

@keyframes animate-show {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

body {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto !important;
    background-color: rgb(250, 250, 250);
}

a.category,
a.author,
a.link {
    color: rgb(224, 51, 74);
    font-weight: 600;
}

/* notif */
.slide {
    animation: slide 5s ease-out 1;
    transform: translate(50%, -200%);
}

@keyframes slide {
    0% {
        transform: translate(50%, -100%);
    }

    10% {
        transform: translate(50%, 40%);
    }

    50% {
        transform: translate(50%, 40%);
    }

    95% {
        transform: translate(50%, 40%);
    }

    100% {
        transform: translate(50%, -200%);
    }
}

.bi {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Posts Page */
.hero-image {
    height: 500px;
    object-fit: cover;
}

/* Login page */
.form-signin {
    width: 100%;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Register page */
.form-register input {
    border-radius: 0;
    margin-bottom: -1px;
}

/* Responsive */
#mobile-nav {
    display: none;
}

@media(max-width: 992px) {
    #mobile-nav {
        display: block;
    }

    #mobile-nav .active span {
        color: var(--primary-color);
        position: relative;
        border-radius: 10px;
    }

    #mobile-nav .active span::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: var(--primary-color);
    }

    .navbar {
        padding: 10px !important;
    }

    .main-container {
        padding-top: 70px !important;
    }

    footer {
        margin-bottom: 64px;
    }
}
